@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700;800&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* background-color: #000; */
  color: #fff;
  font-family: "Public Sans", sans-serif;
}

.link {
  text-decoration: none;
}
